@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
From Server to clint >
<ul>
    @foreach(var msg in _messages)
    {
        <li>@msg</li>
    }
</ul>


@code
{
    private HubConnection? _hubConnection;
    private readonly List<string> _messages = new();

    public async ValueTask DisposeAsync()
    {
        if (_hubConnection is not null)
        {
            await _hubConnection.DisposeAsync();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
             .WithUrl("https://localhost:44368/notifications",
              o => o.AccessTokenProvider = () => Task.FromResult<string?>("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IjkwZDRjYjVkLTcyYWUtNDM0ZC04ZGQwLWU3Njg3MDk1NThkZSIsInN1YiI6IjkwZDRjYjVkLTcyYWUtNDM0ZC04ZGQwLWU3Njg3MDk1NThkZSIsImp0aSI6IjkzOWRiYjcyIiwiYXVkIjpbImh0dHA6Ly9sb2NhbGhvc3Q6NTc0MTgvIiwiaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzNjgiLCJodHRwOi8vbG9jYWxob3N0OjUxMjgiLCJodHRwczovL2xvY2FsaG9zdDo3MjM2Il0sIm5iZiI6MTc0NDMwNDcyNywiZXhwIjoxNzUyMTY3MTI3LCJpYXQiOjE3NDQzMDQ3MjgsImlzcyI6ImRvdG5ldC11c2VyLWp3dHMifQ.bUZhvFdUk-eHiJdiUt9S9QYPpDa6ysBDaECnGfSXq38")
         ).Build();

        _hubConnection.On<string>("ReceiveNotification", msg =>
        {
            _messages.Add(msg);
            InvokeAsync(StateHasChanged);
        });

        await _hubConnection.StartAsync();
    }
}

